*, ::after, ::before { 
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
      font-size: 62.5%;// font-size: 10px;
  }
  body {
      padding: 5rem;
      background-color: $color-white;
  }

  .contener {
    background-color:  #F7F7F7 ;
    position: relative;
    z-index: 0;
    /*background-color:lighten( #F7F7F7, 70%);
    background-color: transparentize($color: #F7F7F7, $amount: 0.4);*/
}